<li class="user-nav__preferences-chat">
  <LinkTo @route="evidence_uploader">
      <svg class="fa d-icon d-icon-envelope svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#envelope"></use></svg>
      <span>マッチング情報登録</span>
  </LinkTo>
</li>
